/* Container */
.containerDarkMode {
  background-color: #1c4d79;
  padding: 0;
}

.containerLightMode {
  background-color: rgb(215, 236, 255);
  padding: 0;
}

.cardDarkMode {
  /* background-color: #19466d; */
  background-color: #0c1c3e;
  margin: 20px 0;
}

.cardLightMode {
  background-color: #1c4d79;
  margin: 20px 0;
}

.flex {
  display: flex;
  margin: 20px 0;
}

/* Title */
.mainTitle {
  font-size: 2em;
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
  text-align: center;
  font-weight: 500;
}

/* Cards */
.cardsDarkMode {
  background-color: #0c1c3e;
  height: 100%;
  border: none;
}

.cardsLightMode {
  background-color: #1c4d79;
  height: 100%;
  border: none;
}

.cardDisplay {
  display: inline-block;
}

/* Button */
.buttonDarkMode {
  width: 20%;
  margin: 10px 2.5%;
  border: 1px dashed #cee2f3;
  color: #cee2f3;
  font-size: 4em;
  text-align: center;
  background-color: #0c1c3e;
}

.buttonLightMode {
  width: 20%;
  margin: 10px 2.5%;
  border: 1px dashed #cee2f3;
  color: #cee2f3;
  font-size: 4em;
  text-align: center;
  background-color: #1c4d79;
}

.buttonDarkMode:hover {
  background-color: #102553;
  border: 1px dashed #cee2f3;
}

.buttonLightMode:hover {
  background-color: #1f5686;
  border: 1px dashed #cee2f3;
}

/* Form */
.formControl {
  margin: 10px 0;
}

.errorFormControl {
  margin: 10px 0;
  border: 1px solid red;
}

.searchFormControl {
  width: 50%;
  margin: 10px 0;
}

.formSelect {
  margin-bottom: 10px;
}

.ivFormControl {
  width: 30%;
  margin: 0 3%;
}

.errorIvFormControl {
  width: 30%;
  margin: 0 3%;
  border: 1px solid red;
}

.formButton {
  background-color: #19466d;
  border: none;
  margin-top: 10px;
}

.formButton:hover {
  background-color: #1f5585;
}

.formCheckbox {
  margin: 5px 0px;
}

.formErrorMessage {
  color: red;
}

/* Misc */
.alert {
  margin: 10px 0;
  background-color: rgb(238, 126, 126);
  border: black;
  color: black;
}
