/* Container */
.container {
  background-color: #19466d;
  margin: 10px 10px;
}

.flex {
  display: flex;
  margin: 20px 0;
}

/* Title */
.mainTitle {
  font-size: 2em;
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
  text-align: center;
  font-weight: 500;
}

/* Cards */
.cards {
  width: 50%;
  background-color: #19466d;
  height: 100%;
  border: none;
}

.cardDisplay {
  display: inline-block;
}
