/* Card */
.cardDarkMode {
  display: block;
  background-color: #0c1c3e;
  margin: 10px 20px;
  color: #cee2f3;
}

.cardLightMode {
  display: block;
  background-color: #1c4d79;
  margin: 10px 20px;
  color: #cee2f3;
}

/* Modal */
.modalDisplay {
  display: flex;
}

.modalButton {
  background-color: #1c4d79;
  border: none;
  border-radius: 10px;
  margin: 5px 5px;
  width: 50%;
}

.modalButton:hover {
  background-color: #1f5585;
  border: none;
}

/* Dropdown */
.dropdown {
  margin: 10px 5% 0 25%;
  background-color: inherit;
}

.dropdownButton {
  background-color: inherit;
  border: 1px solid #cee2f3;
}

.dropdownButton:hover {
  background-color: inherit;
  border: 1px solid #cee2f3;
}

.dropdownButton:focus {
  background-color: inherit;
  border: 1px solid #cee2f3;
}

.dropdownMenu {
  background-color: #1c4d79;
}

.dropdownItem {
  background-color: #1c4d79;
  color: #cee2f3;
}

.dropdownItem:hover {
  background-color: #1f5585;
  color: #cee2f3;
}

/* Images */
.mainImageContainer {
  width: 40%;
  height: auto;
  margin: 0 auto 5px auto;
}

.mainImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.smallImageContainer {
  width: 40%;
  height: auto;
  display: flex;
  margin: 10px auto;
}

.smallImage {
  object-fit: contain;
  width: 8%;
  height: auto;
  border-radius: 20px;
  margin-right: 5px;
}

.typeImage {
  margin-bottom: 5px;
  margin-top: -10px;
  display: block;
}

.typeImage img {
  width: 35px;
  height: auto;
  margin: 0 5px 0 0;
}

.deleteImage {
  width: 90%;
}

/* Titles */
.name {
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid #cee2f3;
  margin: 10px auto;
  width: 90%;
  font-weight: 400;
}

.subTitle {
  font-size: 1.3em;
  border-bottom: 1px solid #cee2f3;
  margin: 0 auto 10px auto;
  width: 90%;
  font-weight: 400;
}

/* IV Section */

.ivs {
  width: 90%;
  margin: 10px auto;
}

.ivTitle {
  font-size: 1.3em;
  border-bottom: 1px solid #cee2f3;
  margin-bottom: 10px;
  font-weight: 400;
}

.ivItem {
  background-color: inherit;
  border: none;
  color: #cee2f3;
}

.ivBar {
  background-color: #cee2f3;
}

/* Misc */
.cp {
  text-align: center;
  margin: 10px 0 10px 40%;
  width: 20%;
}

.candy {
  margin: auto;
  text-align: center;
  font-size: 1.2em;
}

.moves {
  width: 90%;
  margin: 10px 5%;
  font-size: 1.1em;
}

.flex {
  display: flex;
}
