/* Card */
.card {
  display: block;
  background-color: #1c4d79;
  margin: 10px 20px;
  color: #cee2f3;
}

/* Images */
.mainImageContainer {
  width: 40%;
  height: auto;
  margin: 0 auto 10px auto;
}

.mainImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #cee2f3;
}

.smallImageContainer {
  width: 40%;
  height: auto;
  display: flex;
  margin: 10px auto;
}

.smallImage {
  object-fit: contain;
  width: 8%;
  height: auto;
  border-radius: 20px;
  margin-right: 5px;
}

.typeImage {
  margin-bottom: 5px;
  margin-top: -10px;
  display: block;
}

.typeImage img {
  width: 35px;
  height: auto;
  margin: 0 5px 0 0;
}

/* Titles */
.name {
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid #cee2f3;
  margin: 10px auto;
  width: 90%;
  font-weight: 400;
}

.subTitle {
  font-size: 1.3em;
  border-bottom: 1px solid #cee2f3;
  margin: 0 auto 10px auto;
  width: 90%;
  font-weight: 400;
}

/* IV Section */

.ivs {
  width: 90%;
  margin: 10px auto;
}

.ivTitle {
  font-size: 1.3em;
  border-bottom: 1px solid #cee2f3;
  margin-bottom: 10px;
  font-weight: 400;
}

.ivItem {
  background-color: #1c4d79;
  border: none;
  color: #cee2f3;
}

.ivBar {
  background-color: #cee2f3;
}

/* Misc */
.cp {
  text-align: center;
  margin: 10px 0 5px 0;
}

.candy {
  margin: auto;
  text-align: center;
  font-size: 1.2em;
}

.moves {
  width: 90%;
  margin: 10px 5%;
  font-size: 1.1em;
}
