/* Container */
.container {
  padding: 0;
  margin: 15px;
}

.container img {
  width: 35px;
}

.text {
  margin: 5px 0 0 0;
}

.name {
  margin: 5px 0 0 10px;
  text-align: left;
}

.flex {
  display: flex;
}
