/* Card */
.cardDarkMode {
  width: 20%;
  margin: 10px 2.5%;
  background-color: #0c1c3e;
  border-color: #cee2f3;
  color: #cee2f3;
}

.cardLightMode {
  width: 20%;
  margin: 10px 2.5%;
  background-color: #1c4d79;
  border-color: #cee2f3;
  color: #cee2f3;
}

.focusedCardDarkMode {
  width: 20%;
  margin: 10px 2.5%;
  background-color: #102553;
  border-color: #ffa800;
  color: #ffa800;
}

.focusedCardLightMode {
  width: 20%;
  margin: 10px 2.5%;
  background-color: #1f5686;
  border-color: #ffa800;
  color: #ffa800;
}

.cardDarkMode:hover {
  color: #ffa800;
  border-color: #ffa800;
  cursor: pointer;
}

.cardLightMode:hover {
  color: #ffa800;
  border-color: #ffa800;
  cursor: pointer;
}

.cardText {
  text-align: center;
  margin: 2px 0px;
}

.cardImageContainer {
  width: 90%;
  height: auto;
  margin: auto;
}

.cardImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Misc */
.bold {
  font-weight: 600;
}
