/* Container */
.containerDarkMode {
  background-color: #0c1c3e;
  height: 50px;
}

.containerLightMode {
  height: 50px;
  background-color: #1c4d79;
}

.bottomMargin {
  margin-bottom: 10px;
}

/* Button */
.button {
  background-color: #ffa800;
  height: 50px;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 0;
}

.button:hover {
  background-color: #fdb524;
  color: black;
}

.modalButton {
  width: 100%;
  margin: 10px auto;
  background-color: #ffa800;
  border: none;
  color: black;
}

.modalButton:disabled {
  width: 100%;
  margin: 10px auto;
  background-color: #ffa800;
  border: none;
  color: black;
}

.modalButton:hover {
  background-color: #fdb524;
  color: black;
}

/* Title */
.title {
  color: #ffa800;
  margin-right: 10%;
}

.title:hover {
  color: #ffa800;
}

/* Nav */
.nav {
  color: #ffa800;
  margin: 0px 3%;
}

.nav:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.nav:focus {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

/* Form */
.bottomFormControl {
  margin: 10px 0;
}

.formError {
  color: rgb(189, 44, 7);
  font-size: 1em;
}

/* Images */
.userImageContainer {
  width: 100%;
  height: 100%;
}

.userImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
