/* Container */
.containerDarkMode {
  margin: 20px 0;
  background-color: #0c1c3e;
  border-radius: 0%;
  border-top: none;
}

.containerLightMode {
  margin: 20px 0;
  background-color: #1c4d79;
  border-radius: 0%;
  border-top: none;
}

/* Title */
.title {
  text-align: center;
  color: #ffa800;
  font-size: 2em;
  border-bottom: 1px solid #ffa800;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.subTitleDarkMode {
  color: #ffa800;
  font-size: 1.7em;
  margin-left: 2%;
  background-color: #0f224a;
  width: 96%;
}

.subTitleLightMode {
  color: #ffa800;
  font-size: 1.7em;
  margin-left: 2%;
  background-color: #1c4d79;
  width: 96%;
  text-decoration: underline;
}
