/* Container */
.container {
  margin: 50px 0px;
  background-color: #0c1c3e;
}

/* Title */
.title {
  text-align: center;
  color: #ffa800;
  font-size: 2em;
  border-bottom: 1px solid #ffa800;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.subTitle {
  color: #ffa800;
  font-size: 1.7em;
  margin-left: 2%;
  background-color: #0f224a;
  width: 96%;
}
