/* Container */
.container {
  height: auto;
  margin: 20px 2.5%;
  background-color: #0f224a;
  color: white;
  border: 1px solid #ffa800;
}

.imageContainer {
  width: 110px;
  height: 110px;
  margin: 5px auto;
}

/* Image */
.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.typeImage {
  margin: 0px 2px;
  width: 40px;
}

.typeImageContainer {
  margin: 5px auto;
  display: flex;
}

/* Title */
.title {
  font-size: 1.3em;
  font-weight: 300;
}
