/* Container */
.container {
  width: 50%;
  margin: 10% auto;
  background-color: #0c1c3e;
  border: none;
}

/* Buttons */
.button {
  margin: auto;
  background-color: #0f224a;
  border: 2px dashed #ffa800;
  color: #ffa800;
  height: 200px;
  width: 200px;
}

.button:hover {
  background-color: #16326e;
  border: 5px dotted #ffa800;
  color: #ffa800;
}

.submitButton {
  background-color: #0f224a;
  margin: 10px 0;
  border: none;
}

.submitButton:hover {
  background-color: #16326e;
}

.retryButton {
  margin-left: 42.5%;
  width: 15%;
  background-color: #ffa800;
  color: black;
  border: none;
}

.retryButton:hover {
  background-color: #fdb524;
  color: black;
}

/* Modal */
.modalTitle {
  font-size: 1.5em;
}

.modalLabel {
  font-size: 1.2em;
}

.modalSelect {
  margin: 10px 0;
}

/* Images */
.retryImage {
  width: 70%;
}
