/* Container */
.container {
  margin: 30px;
  background-color: #0c1c3e;
  border: 1px solid white;
}

/* Title */
.title {
  color: #ffa800;
  font-size: 2em;
  font-weight: 350;
  text-align: center;
  border-bottom: 1px solid #ffa800;
  margin-bottom: 10px;
}
