/* Container */
.containerDarkMode {
  margin: 10% 5% 10% 0;
  background-color: #0c1c3e;
  border: 1px solid #ffa800;
}

.containerLightMode {
  margin: 10% 5% 10% 0;
  background-color: #124e83;
  border: 1px solid #ffa800;
}

/* Title */
.title {
  color: #ffa800;
  font-size: 2em;
  font-weight: 350;
  text-align: center;
  border-bottom: 1px solid #ffa800;
  margin-bottom: 10px;
}
